[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw
  branch = master

[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen
  branch = master
